*{
    text-decoration: none;
    color: black;
}
.navbar{
    background-color: rgb(123, 177, 123);
    padding-left: 15px;
    padding-right: 15px;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    font-weight: 600;
}
li {
    list-style: none;
    display: inline-block;
}
li a {
    font-size: 18px;
    margin-right: 25px;
}

main {
    padding-left: 15%;
    padding-right: 15%;
}
h2 {
    text-align: center;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.division {
    background-color: rgb(238, 234, 234);
    margin: 5px;
    padding: 10px;
    height: 225px;
    width: 275px;
}